{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian" "ubuntu")) -}}
#!/bin/bash

set -e

NOCOLOR=$(tput sgr0)
CYAN=$(tput setaf 6)
GREEN=$(tput setaf 2)
RED=$(tput setaf 1)

echo -e ""
echo -e $CYAN">>>>> Begin Packages Installation <<<<<"$NOCOLOR

packages=(
  curl
  git
  unzip
  zsh
  fonts-powerline
  exa
  tree
)

for package in ${packages[@]}; do
  status=$(dpkg-query --show -f='${Status}' $package)
  echo -e $CYAN">>> $package status: $status"$NOCOLOR
  if [[ $status != "install ok installed" ]]; then
    echo -e $CYAN">>> Installing $package"$NOCOLOR
{{ if ne .chezmoi.username "root" -}}
    sudo apt install -y $package
{{ else -}}
    apt install -y ${packages[@]}
{{ end -}}
  else
    echo $CYAN">>> $package already installed"$NOCOLOR
  fi
  echo -e ""
done

if [[ ! -d "$HOME/.oh-my-zsh" ]]; then
  echo -e $CYAN"Install oh-my-zsh"$NOCOLOR
  sh -c "$(wget -O- https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
else
  echo_step_info "ohmyzsh already installed"
fi

echo -e ""
echo -e $CYAN">>>>> Finish Packages Installation <<<<<"$NOCOLOR
echo -e ""
{{ end -}}