{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian" "ubuntu")) -}}
#!/bin/bash

set -e

NOCOLOR=$(tput sgr0)
CYAN=$(tput setaf 6)
GREEN=$(tput setaf 2)
RED=$(tput setaf 1)

echo -e ""
echo -e $CYAN">>>>> Begin Packages Installation <<<<<"$NOCOLOR

packages=(
  curl
  git
  unzip
  zsh
  exa
  tree
)

for package in ${packages[@]}; do
  if ! $(dpkg-query --show $package); then
    echo $CYAN">>> Installing $package"$NOCOLOR
{{ if ne .chezmoi.username "root" -}}
    sudo apt install -y $package
{{ else -}}
    apt install -y ${packages[@]}
{{ end -}}
  else
    echo $CYAN">>> $package already installed"$NOCOLOR
  fi
done

echo -e $CYAN">>>>> Finish Packages Installation <<<<<"$NOCOLOR
{{ end -}}